/* GENERAL STYLES */
html {
    font-family: arial, cursive, sans-serif;
    background-color: rgb(89, 89, 89);
}
.toggle {
    background-color: #0785BB;
    color: #fff;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 50px;
    position: absolute;
    z-index: 9999;
    right: 50px;
    top: 20px;
}
.toggle:hover {
    background-color: #044662;
}
.pusher {
    color: #fff;
    padding: 10px;
}
.pusher a {
    color: #5FFFED;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
}

/* PUSHMENU STYLE */
.pushmenu {
  padding-bottom: 80px;
  -webkit-transition: right 0.25s ease-in-out;
       -o-transition: right 0.25s ease-in-out;
          transition: right 0.25s ease-in-out;
  background: #000;
  position: fixed;
  overflow-x: hidden;
  width: 100%;
  right: -100%;
  top: 0;
  bottom: 0;
}
.pushmenu .push-cnt {
  -webkit-transition: left 0.25s ease-in-out;
       -o-transition: left 0.25s ease-in-out;
          transition: left 0.25s ease-in-out;
  position: relative;
  left: 0;
  margin-top: 80px;
}

.pushmenu .push-cnt.level1 {
  left: -100%;
  margin-top: 80px;
}
.pushmenu .push-cnt.level2 {
  left: -200%;
  margin-top: 80px;
}
.pushmenu .push-cnt ul {
  margin: 0;
  padding: 0;
  position: relative;
}
.pushmenu .push-cnt ul li {
  list-style: none;
  border-bottom: 1px solid #333333;
}
.pushmenu .push-cnt ul li a {
  text-decoration: none;
  display: block;
  color: #fff;
  font-size: 13px;
  padding: 0 10px;
  line-height: 50px;
  text-transform: uppercase;
  font-weight: 700;
}
.pushmenu .push-cnt ul li a:hover {
  color: #fff;
}
.pushmenu .push-cnt ul li ul {
  display: none;
  width: 100%;
  position: absolute;
  right: -100%;
  top: 0;
}
.pushmenu .push-cnt ul li ul li {
  border-bottom: 1px solid #333333;
}
.pushmenu .push-cnt ul li ul li a {
  font-size: 15px;
  text-transform: none;
  font-weight: 600;
  color: #959795;
}
.pushmenu .push-cnt ul li ul li a.back {
  background-color: #044662;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  padding: 0;
}
.pushmenu .push-cnt ul li ul li a.back:before {
  content: "< ";
}
.pushmenu .push-cnt ul li ul li.nav-col a:after {
  content: " >";
}
.pushmenu .push-cnt ul li ul li.nav-col ul a:after {
  content: "";
}
.pushmenu .push-cnt ul li ul li.active ul {
  display: block;
  padding-top: 0;
}
.pushmenu .push-cnt ul li ul li.active ul li a {
  color: #fff;
}
.pushmenu .push-cnt ul li ul li.active ul .back {
  color: #fff;
}
.pushmenu .push-cnt ul li ul li.passive ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0;
}
.pushmenu .push-cnt ul li ul li.passive ul li a {
  color: #1a1c20;
}
.pushmenu .push-cnt ul li.nav-col a:after {
    content: " >"
}
.pushmenu .push-cnt ul li.nav-col ul a:after {
  content: "";
}
.pushmenu .push-cnt ul li.active ul {
  display: block;
  padding-top: 0;
}
.pushmenu .push-cnt ul li.active ul li a {
  color: #fff;
}
.pushmenu .push-cnt ul li.active ul .back {
  color: #fff;
}
.pushmenu .push-cnt ul li.passive ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0;
}
.pushmenu .push-cnt ul li.passive ul li a {
  color: #1a1c20;
}
.open .pushmenu {
  right: 0;
}
.scroller {
  -webkit-transition: right 0.25s ease-in-out;
       -o-transition: right 0.25s ease-in-out;
          transition: right 0.25s ease-in-out;
  position: relative;
  right: 0;
}
.scroller.open {
  right: 100%;
}
body.open {
  overflow-y: hidden;
}